.app {
  position: relative;
}

.app > *:not(.anim) {
  z-index: 10;
  position: inherit;
}

.app > .anim {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  z-index: 1;
}

.controls {
  background-color: white;
}

.form-parameters {
  display: flex;
  flex-flow: column;
}

* {
  border: 1px solid green;
}

.top-index {
  z-index: 99;
}